/* Content Header */
.card{  
  width: 84.8%;
  margin-left: 15vw;
  margin-top: 5vw;
  border-radius:0;
  position:relative;
}
.card-body{
  background: #04AA6D;
  height: 22vh;
}
.card-title{
  font-weight:700;
}

/* Main Container */
.main-containerbox{
  position:absolute;
  display:flex;
  background-color:white;
  margin-top:-7vh;
  margin-left:17vw;
  height:60vh;
  width:80vw;
  gap:10px;
  padding:1%;
  box-shadow:1px 5px 5px;  
}
.main-containerbox > div{
  width:50%;
  display:flex;
  flex-wrap:wrap;
}

.form-details{
  padding:1%;
}
.form-control{
  width: 17vw;
}
/* Form Div */
.form-details > div{  
  width:50%;
  height:14vh;  
} 

.form-button{
  padding: 5px;
  width:10vw;
  background: #04AA6D;
  color:white;
  border-radius:10px;
  margin-top: 2vh;
  opacity: 0.8;
}
.form-button:hover{
  opacity:1.5;
}

/* Table Div */
.table-content{
  font-size:13px;
  width:40vw;  
  padding:1%;
}
.form-Button{
  display: flex;              
  align-items:center;
  gap:30px;
  justify-content: center;
}
.form-Button > div{
  display: flex;
  align-items: center;
}


.HideShow{
  display:none;
}
.none{
  display:none;
  color:red;
}
.show{
  display:show;
  color:yellow;
}

